.sidebar_content {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: #0A0908;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo_content .logo {
    color: #fffcff;
    display: flex;
    height: 50px;
    width: 100%;
    opacity: 0;
    align-items: center;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar .btn_content {
    position: absolute;
    color: #fffcff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transform: translateX(-50%);
}

.sidebar.active .btn_content {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fffcff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 12px;
}

.sidebar ul li a:hover {
    background-color: #fffcff;
    color: #0A0908;
}

.sidebar ul li a .icons {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
    height: 35px;
    width: 122px;
    background-color: #FFFCFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

/* .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: #0A0908;
    padding: 6px 10px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo_content {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.sidebar .logo_content .logo {
    color: #FFFCFF;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
}

.logo_content .logo .logo_name {
    font-size: 1.2em;
    font-weight: bold;
}

.sidebar .btn_content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFCFF;
    font-size: 1.2em;
    height: 50px;
    width: 50px;
    text-align: center;
}

.sidebar.active .btn_content {
    left: 90%;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
    height: 35px;
    width: 122px;
    background-color: #FFFCFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li a {
    width: 50px;
    color: #FFFCFF;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    background-color: #FFFCFF;
    color: #0A0908;
}

.sidebar ul li .icons {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
} */